@{
    ViewBag.Title = "Home Page";
}

@{ 
    ViewBag.Title = "Canaro Trello";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="w3-row w3-margin-top">
    <div class="w3-container w3-padding-24 main-div-element">
        <p class="w3-center"><b>TODO tasks</b></p><hr style="border: 1px solid #a0a1a5;" />
    </div>
    <div class="w3-container w3-padding-24 main-div-element">
        <p class="w3-center"><b>In progress tasks</b></p><hr style="border: 1px solid #a0a1a5;" />
    </div>
    <div class="w3-container w3-padding-24 main-div-element">
        <p class="w3-center"><b>Finished tasks</b></p><hr style="border: 1px solid #a0a1a5;" />
    </div>
    <div class="w3-container w3-padding-24 main-div-element">
        <p class="w3-center"><b>Latest projects</b></p><hr style="border: 1px solid #a0a1a5;" />
    </div>
</div>