@model IEnumerable<Canaro_Trello.Models.Project>

@{
    ViewBag.Title = "Lista proiectelor curente";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}


    @section PageTitle{
        <div class="w3-padding-16 w3-teal w3-center">
            <h1 class="w3-serif">Lista proiectelor curente</h1>
        </div>
    }

<p class="w3-button w3-teal w3-right menu-item">
    @Html.ActionLink("Create New", "AddProject")
</p>
